* {
    box-sizing: border-box;
}
.popup-wrapper {
    margin: 0;
    overflow: hidden;
    width: 360px;
    min-height: 100%;
    font-family: Inter,Helvetica,Arial,sans-serif;;
    font-size: 14px;
}

.container {
    padding: 10px 20px;
}
.header {
    height: 46px;
    color: #0052CC;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.content{
	padding: 10px 0;
}

a {
    text-decoration: none;
}

.wrap-btn-guide {
    margin: 10px 0;
    display: flex;
	flex-direction: row;
    align-items: center;
}
.btn {
    display: block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    height: 32px;
    line-height: 32px;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    transition: color .2s linear,background-color .2s linear,border .2s linear,box-shadow .2s linear;
    color: #515a6e;
    background-color: #fff;
    margin-right: 5px;
}
.btn-primary {
    color: #fff;
    background-color: #2d8cf0;
    border-color: #2d8cf0;
}
.btn-primary:hover {
    color: #fff;
    background-color: #57a3f3;
    border-color: #57a3f3;
}