.container-extension{ height: 18px;width: 18px;padding: 0;}
.container-extension .icon-add-source {
    -webkit-transition: -webkit-box-shadow 0.2s ease-out;
    -moz-transition: -moz-box-shadow 0.2s ease-out;
    transition: box-shadow 0.2s ease-out;
    cursor: pointer;
    /*box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);*/
}
.container-extension .qcuidfb_img_loading {
    display: none
}

/*.container-extension.qcuidfb_loading .icon-add-source{display: none}*/
/*.container-extension.qcuidfb_loading .qcuidfb_img_loading{ display: block;width: 24px;}*/

.container-extension .icon-add-source:hover .icon {
    fill: #ff5630;
}
.container-extension .icon-add-source:hover .icon #border-icon {
    stroke: #0052cc;
}
.icon #border-icon {
    stroke: #427eed;
}
.icon {
    width: 18px;
    height: 18px;
}

.icon-success {
    width: 18px;
    height: 18px;
}

/*#border-icon {*/
/*}*/
/*{box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.5);}*/

.fb_btn_pagechat{position: absolute;top: 15px;right: 585px;}
.fb_btn_profiletimeline{position: absolute;bottom:4px;left: -22px;}
.fb_btn_userContentWrapper{position: absolute;top: 9px;right: 25px;}
.fb_btn_likePageReaction{position: absolute;top: 0;left: -35px;}
.fb_btn_userContentWrapper .icon-add-source{z-index: 9999;height: 20px;width: 20px ;}
.fix-position-button {
    top: 50px !important;
    right: 0;
}

.fb_btn_profilechat{position: absolute;top: 13px;left: -22px;}
.fb_btn_userComment .icon-add-source{float: right;height: 18px;width: 18px ;}
.fb_btn_userComment{position: absolute;
    right: 10px;
    top: 0;
    display: none;
}
.UFICommentContentBlock:hover .fb_btn_userComment{
    display: block;
}
.commentable_item111:hover .fb_btn_userComment{
    display: block;
}
div[data-testid="UFI2Comment/root_depth_0"]:hover .fb_btn_userComment{
    display: block;
}
div[data-testid="UFI2Comment/root_depth_1"]:hover .fb_btn_userComment{
    display: block;
}
div[data-testid="UFI2Comment/root_depth_2"]:hover .fb_btn_userComment{
    display: block;
}
div[data-testid="UFI2Comment/root_depth_0"]:hover .fb_btn_userCommentInner{
    display: block;
}
.fb_btn_userCommentInner {
    position: absolute;
    right: -25px;
    top: 3px;
    z-index: 99;
}

.fb-search-post-all {
    position: absolute;
    top: 13px;
    right: 5px;
}

.flex-row-reverse {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.fb_btn_group {
    position: absolute;
    top: 19px;
    right: 120px;
}
.data_result,
.content-error{
    user-select: text;
    line-height: 16px !important;
    background: white;
    display: none;
    position: absolute;
    right: 0;
    font-size: 14px;
    font-weight: 700;
    width: 200px;
    border: solid 1px gainsboro;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px -2px;
    white-space: pre-line;
    border-radius: 1px;
    z-index: 9;
    text-align: left;
    height: 100%;
    align-items: center;
}
.content-error {
    right: -200px;
}
.data_result .qcuidfb_result_success {
    color: #4c8f19;
    padding-right: 8px;
}
.data_result .qcuidfb_result_no_result{    color: #90949c;
    font-weight: normal;
    font-size: 13px;}
.data_result .qcuidfb_result_no_error{    color: #ca4949;
    font-weight: normal;
    font-size: 13px;}

.qcuidfb_btn_searchglobal {
    position: fixed;
    left: 8px;
    bottom: 8px;
    z-index: 9999;
}
.yt-video-owner {margin-left: 5px}
.yt-video-owner .data_result {
    left: 0;
    height: 26px;
}
.yt-channel-owner .data_result {
    right: -120px;
}
.yt-channel-detail {margin-left: 5px}
.yt-item-home {
    position: absolute;
    bottom: 15px;
    left: 5px;
    z-index: 1000;
}
.yt-item-trending {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: -35px;
}
.yt-item-trending .data_result {
    left: 0;
}
.yt-item-home .data_result {
    right: -193px;
}
.yt-channel-owner {
    margin-left: 5px;
    position: absolute;
    top: 20px;
    left: -37px;
}
.yt-video-owner .data_result {
    left: 0;
    z-index: 1000;
}
.qcuidfb_btn_searchglobal .data_result{
    left: 0;
    position: relative;
    float: left;
}

.google-result-item {
    position: absolute;
    top: 27px;
    left: -33px;
}
#pagelet_timeline_profile_actions{position: relative;}
.hovercardButtonGroup {position: relative}
.qcuidfb_btn_userHoverCard {position: absolute;
    top: 0;
    z-index: 999;
    left: -130px;}

.qcuidfb_btn_pancakechat {
    position: absolute;
    left: -34px;
    top: 8px;
}
.qcuidfb_result_close{
    position: absolute;
    right: 0px;
    font-size: 11px;
    color: #bdb8b8;
    cursor: pointer;
    top: 0px;
    height: 11px!important;
    width: 11px!important;
    line-height: 10px!important;
    padding-right: 0;
    text-align: center;
}
.qcuidfb_result_close:hover{
    background: gainsboro;
    color: #303030;
}

.FriendButton{position:relative;}

.qcuidfb_btn_likereaction {position: absolute;
    top: 0;
    left: -30px;}

#reaction_profile_browser1	.qcuidfb_btn_likereaction .data_result,
#reaction_profile_browser2	.qcuidfb_btn_likereaction .data_result,
#reaction_profile_browser3	.qcuidfb_btn_likereaction .data_result,
#reaction_profile_browser4	.qcuidfb_btn_likereaction .data_result,
#reaction_profile_browser5	.qcuidfb_btn_likereaction .data_result,
#reaction_profile_browser6	.qcuidfb_btn_likereaction .data_result,
#reaction_profile_browser7	.qcuidfb_btn_likereaction .data_result,
#reaction_profile_browser8	.qcuidfb_btn_likereaction .data_result,
#reaction_profile_browser9	.qcuidfb_btn_likereaction .data_result
{right: -118px;    min-width: 100px;}

.layout-error-token {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre-line;
}
